
@{
    ViewBag.Title = "Index";
}


<div class="jumbotron bg-info">
    <center>
        <h1 class="text-light">Bienvenidos a Recursos Humanos</h1>
    </center>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2> ¿Que hacemos?</h2>
        <p>
            Somos una pagina en la cual gestionamos el area de recursos humanos de una institucion, con la cual llevamos un registro de cada paso que se debe
            realizar en lo que es esta area.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>¿Porque creamos esta aplicacion web?</h2>
        <p>Lo hicimos pensando siempre en la facilidad para los usuarios, es una app muy facil de utilizar para que asi el usuario pueda agregar y 
        visualizar informaciones de manera rapida.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Info del desarrollador.</h2>
        <p>Tomas Anderson Rodriguez Vallejo <br /> Matricula: 2017-4834<br /> Programacion 3<br /> Instituto Tecnologico de las Americas.</p>
       
    </div>
</div>